@import url(https://fonts.googleapis.com/css?family=Lato:300);

html,
body {
	background-color: white;
    margin: 0;

	font-family:  Lato,"Helvetica Neue" ;
    overflow: hidden;

    height: 100vh;
    width: 100vw;
}

#page-standard {
    margin: 0;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 0;

    height: 100vh;
    width: 100vw;
}

.page2 {
    position: fixed;
    top: 0;
    right: -100vw;
    width: 100vw;
    height: 100vh;
    background: black;
}

.page3 {
    position: fixed;
    top: 0;
    right: -200vw;
    width: 100vw;
    height: 100vh;
    background: black;
}

.page-trans-left {

}

.page-chg-left {
    -webkit-animation: page-chg-left 1s 0s forwards;
    animation: page-chg-left 1s 0s forwards;
}

@-webkit-keyframes page-chg-left {
    0%{right: -100vw;}
    100%{right: -15vw;}
}

@keyframes page-chg-left {
    0%{right: -100vw;}
    100%{right: -15vw;}
}

.page-chg-right {
    -webkit-animation: page-chg-right 1s 0s forwards;
    animation: page-chg-right 1s 0s forwards;
}

@-webkit-keyframes page-chg-right {
    0%{right: -15vw;}
    100%{right: -100vw;}
}

@keyframes page-chg-right {
    0%{right: -15vw;}
    100%{right: -100vw;}
}

.page-trans-right {
    transition: transform 1s 0s;
    transform: translateX(0);
}

.chg-small-text {
    -webkit-animation: chg-small-text 1s 0s forwards;
    animation: chg-small-text 1s 0s forwards;
}

@-webkit-keyframes chg-small-text {
    0%{font-size: 100px;}
    100%{font-size: 42px;}
}

@keyframes chg-small-text {
    0%{font-size: 100px;}
    100%{font-size: 42px;}
}

.chg-big-text {
    -webkit-animation: chg-big-text 1s 0s forwards;
    animation: chg-big-text 1s 0s forwards;
}

@-webkit-keyframes chg-big-text {
    0%{font-size: 42px;}
    100%{font-size: 100px;}
}

@keyframes chg-big-text {
    0%{font-size: 42px;}
    100%{font-size: 100px;}
}

.trans-title {
	z-index: 1;
	position: fixed;
	top: 5vh;
	left: 5vw;
	width: 100px;
	height: 60px;

	color:black;

	font-size: 24px;
	font-weight: bold;

    -webkit-animation: change-text-color-black-white 1s 6s infinite;
    animation: change-text-color-black-white 1s 6s infinite;
}

.trans-title:after {
	z-index: inherit;
    content: '';

	font-weight: 600;

    -webkit-animation: change-title-text 4s 5s infinite;
    animation: change-title-text 4s 5s infinite;
}

.slide-loading1 {
	content: "LOADING ...";
	position: fixed;
	background-color: black;
	width: 100vw;
	height: 20px;
	bottom: 0;
	left: 0;

	-webkit-animation: slide-loading1 5s 0s forwards;
    animation: slide-loading1 5s 0s forwards;
}

.slide-loading2 {
	position: fixed;
	background-color: black;
	width: 100vw;
	height: 0;
	bottom: 0;
	left: 0;

	-webkit-animation: slide-loading2 1s 5s forwards;
    animation: slide-loading2 1s 5s forwards;
}

.page1 {
	position: fixed;
    height: 100vh;
	width: 100vw;
	left: 0;
    bottom: 0;
	
	-webkit-animation: page1 5s 7s forwards;
    animation: page1 5s 7s forwards;
}

.page-fotter {
    position: fixed;
    bottom:5vh;
}

.slide-loading-text {
	position: relative;
    margin:0;
	padding-left: 5vw;

    font-size:100px;
	cursor: pointer;

	transition: all 0.1s;
    color : white;
}

.slide-loading-text:hover,
.slide-loading-text:focus {
    font-size:120px;
}

@-webkit-keyframes slide-loading1 {
    0%{width: 0; left: 0;}
    100%{width: 100%; left: 0;}
}

@keyframes slide-loading1 {
    0%{width: 0; left: 0;}
    100%{width: 100%; left: 0;}
}

@-webkit-keyframes slide-loading2 {
    0%{height: 0; bottom: 0;}
    100%{height: 100%; bottom: 0;}
}

@keyframes slide-loading2 {
    0%{height: 0; bottom: 0;}
    100%{height: 100%; bottom: 0;}
}

@-webkit-keyframes page1 {
    0%{width: 0;}
    100%{width: 100vw;}
}

@keyframes page1 {
    0%{width: 0;}
    100%{width: 100vw;}
}

@-webkit-keyframes change-title-text {
    0%{content: 'study'; color: white;}
    33%{content: 'space'; color: white;}
    66%{content: 'study'; color: white;}
    100%{content: 'space'; color: white;}
}

@keyframes change-title-text {
    0%{content: 'study'; color: white;}
    33%{content: 'space'; color: white;}
    66%{content: 'study'; color: white;}
    100%{content: 'space'; color: white;}
}

@-webkit-keyframes change-text-color-black-white {
    0%{color: white;}
    33%{color: white;}
    66%{color: white;}
    100%{color: white;}
}

@keyframes change-text-color-black-white {
    0%{color: white;}
    33%{color: white;}
    66%{color: white;}
    100%{color: white;}
}


@media(max-width:768px) {
    #page-standard {
        margin: 0;
        display: grid;
        grid-template-columns: auto auto;
        gap: 0;

        height: 100vh;
        width: 100vw;
    }

    .page2 {
        position: fixed;
        top: 0;
        right: -100vw;
        width: 100vw;
        height: 100vh;
        background: black;
    }

    .page-body {
        position: fixed;
        top:10vh;
    }

    .page-trans-left {
        transition: transform 2s 0s;
        transform: translateX(-100vw);
    }

    .page-trans-right {
        transition: transform 2s 0s;
        transform: translateX(0vw);
    }

    .trans-title {
        z-index: 1;
        position: fixed;
        top: 2vh;
        left: 5vw;
        width: 100px;
        max-height: 30px;

        color:black;

        font-size: 24px;
        font-weight: bold;

        -webkit-animation: change-text-color-black-white 1s 6s infinite;
        animation: change-text-color-black-white 1s 6s infinite;
    }

    .trans-title:after {
        z-index: inherit;
        content: '';

        font-weight: 600;

        -webkit-animation: change-title-text 4s 5s infinite;
        animation: change-title-text 4s 5s infinite;
    }

    .slide-loading1 {
        content: "LOADING ...";
        position: fixed;
        background-color: black;
        width: 100vw;
        height: 20px;
        bottom: 0;
        left: 0;

        -webkit-animation: slide-loading1 5s 0s forwards;
        animation: slide-loading1 5s 0s forwards;
    }

    .slide-loading2 {
        position: fixed;
        background-color: black;
        width: 100vw;
        height: 0;
        bottom: 0;
        left: 0;

        -webkit-animation: slide-loading2 1s 5s forwards;
        animation: slide-loading2 1s 5s forwards;
    }

    .page1 {
        position: fixed;
        height: 100vh;
        width: 100vw;
        left: 0;
        bottom: 0;
        
        -webkit-animation: page1 5s 7s forwards;
        animation: page1 5s 7s forwards;
    }

    .page-fotter {
        position: fixed;
        bottom:5vh;
    }

    .slide-loading-text {
        position: relative;
        margin:0;
        padding-left: 5vw;

        font-size:20px;
        cursor: pointer;

        transition: all 0.1s;
        color : white;
    }

    .slide-loading-text:hover,
    .slide-loading-text:focus {
        font-size:30px;
    }

    .page-chg-left,
    .page-chg-right,
    .chg-small-text,
    .chg-big-text {
        -webkit-animation: none;
        animation: none;
    }
    
}