html,
body {
    font-family: 'Tenada';
    
	background-color: white;
    margin: 0;

    overflow: hidden;

    height: 100vh;
    width: 100vw;
}

#page-standard {
    position: fixed;
    margin: 0;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 0;

    height: 100vh;
    width: 100vw;

    opacity: 0;

    -webkit-animation: fade-in-animation 1s 5s forwards;
    animation: fade-in-animation 1s 5s forwards;
}

.page-standard {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#page1,
#page2 {
    background: black;
}

#page3 {
    font-family: 'GangwonEduPowerExtraBold';
    background: white;
}

.page-body {
    position: absolute;
    overflow-y: auto;
    top: 6vh;

    height: 90vh;
    padding: 8px;
}

.page-fotter {
    position: absolute;
    bottom: 5vh;
}

.moveToPage1 {
    transition: transform 0.5s 0s;
    transform: translateX(0);
}

.moveToPage2 {
    transition: transform 0.5s 0s;
    transform: translateX(-100vw);
}

.moveToPage3 {
    transition: transform 0.5s 0s;
    transform: translateX(-200vw);
}

.loading-title {
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: black;

    font-size: 68px;
    font-weight: 900;
}

.loading-title:after {
    z-index: inherit;
    content: '';

    font-weight: 900;

    -webkit-animation: change-title-text 5s 0s infinite;
    animation: change-title-text 5s 0s infinite;
}

#trans-title {
    z-index: 1;
    position: fixed;
    top: 1vh;
    left: 4vw;
    width: 100px;
    max-height: 30px;
    cursor: pointer;

    color: white;

    font-size: 24px;
    font-weight: 900;

    -webkit-animation: fade-in-animation 1s 5s forwards;
    animation: fade-in-animation 1s 5s forwards;
}

#trans-title:after {
    z-index: inherit;
    content: '';

    font-weight: 600;

    -webkit-animation: change-title-text-white 10s 5s infinite;
    animation: change-title-text-white 10s 5s infinite;
}

.slide-loading1 {
    content: "LOADING ...";
    position: fixed;
    background-color: black;
    width: 100vw;
    height: 20px;
    bottom: 0;
    left: 0;

    -webkit-animation: slide-loading1 5s 0s forwards;
    animation: slide-loading1 5s 0s forwards;
}

.slide-loading2 {
    position: fixed;
    background-color: white;
    width: 100vw;
    height: 0;
    bottom: 0;
    left: 0;

    -webkit-animation: slide-loading2 1s 5s forwards;
    animation: slide-loading2 1s 5s forwards;
}

.color-white {
    color: white;
}

.menu-text {
    position: relative;
    margin: 0;
    padding-left: 5vw;

    font-size: 400%;
    line-height: 90%;

    cursor: context-menu;

    -webkit-animation: cursor-pointer 1s 5s forwards;
    animation: cursor-pointer 1s 5s forwards;
}

.menu-text:hover,
.menu-text:focus {
    font-size: 420%;
    color:yellow;
}

@-webkit-keyframes cursor-pointer {
    100%{cursor: pointer;}
}

@keyframes cursor-pointer {
    100%{cursor: pointer;}
}

@-webkit-keyframes fade-in-animation {
    0%{opacity: 0;}
    100%{opacity: 100%;}
}

@keyframes fade-in-animation {
    0%{opacity: 0;}
    100%{opacity: 100%;}
}

@-webkit-keyframes slide-loading1 {
    0%{width: 0; left: 0;}
    99%{width: 100%; left: 0;}
    100%{display:none;}
}

@keyframes slide-loading1 {
    0%{width: 0; left: 0;}
    99%{width: 100%; left: 0;}
    100%{display:none;}
}

@-webkit-keyframes slide-loading2 {
    0%{height: 0; bottom: 0;}
    99%{height: 100%; bottom: 0; background-color: black;}
    100%{display:none;}
}

@keyframes slide-loading2 {
    0%{height: 0; bottom: 0;}
    99%{height: 100%; bottom: 0; background-color: black;}
    100%{display:none;}
}

@-webkit-keyframes page1 {
    0%{width: 0;}
    100%{width: 100vw;}
}

@keyframes page1 {
    0%{width: 0;}
    100%{width: 100vw;}
}

@-webkit-keyframes change-title-text {
    0%{content: '99STUDY'; text-shadow: 1px 1px 1px}
    20%{content: '99SPACE'; text-shadow: 1px 1px 1px}
    50%{content: '99STUDY'; text-shadow: 1px 1px 1px}
    70%{content: '99SPACE'; text-shadow: 1px 1px 1px}
    100%{content: '99STUDY'; text-shadow: 1px 1px 1px}
}

@keyframes change-title-text {
    0%{content: '99STUDY'; text-shadow: 1px 1px 1px}
    20%{content: '99SPACE'; text-shadow: 1px 1px 1px}
    50%{content: '99STUDY'; text-shadow: 1px 1px 1px}
    70%{content: '99SPACE'; text-shadow: 1px 1px 1px}
    100%{content: '99STUDY'; text-shadow: 1px 1px 1px}
}

@-webkit-keyframes change-title-text-white {
    0%{content: '99STUDY'; color: white; text-shadow: 1px 1px 1px black;}
    20%{content: '99SPACE'; color: white; text-shadow: 1px 1px 1px black;}
    50%{content: '99STUDY'; color: white; text-shadow: 1px 1px 1px black;}
    70%{content: '99SPACE'; color: white; text-shadow: 1px 1px 1px black;}
    100%{content: '99STUDY'; color: white; text-shadow: 1px 1px 1px black;}
}

@keyframes change-title-text-white {
    0%{content: '99STUDY'; color: white; text-shadow: 1px 1px 1px black;}
    20%{content: '99SPACE'; color: white; text-shadow: 1px 1px 1px black;}
    50%{content: '99STUDY'; color: white; text-shadow: 1px 1px 1px black;}
    70%{content: '99SPACE'; color: white; text-shadow: 1px 1px 1px black;}
    100%{content: '99STUDY'; color: white; text-shadow: 1px 1px 1px black;}
}